<div class="page-title">
	<div class="row justify-content-between">
		<div class="col">
			<h1>Lucros</h1>
			<p class="subtitle">Relatório de distribuição de lucro</p>
		</div>

		<div class="col">
			<div class="search">
				<input type="text" class="form-search" placeholder="Digite qualquer coisa da tabela">
				<button class="btn-search" type="button">
					<img src="../assets/ic_search_24px.svg" alt="Icon Search" />
				</button>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-title">
				Distribuição de lucro (último mês)
			</div>

			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th>Data</th>
							<th>Moeda</th>
							<th class="text-center">Rendimento</th>
							<th class="text-center">%</th>
							<th class="text-center">Saldo</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let lucro of lucros" >
							<td>{{ lucro.dateMoviment | date: 'dd/MM/yy hh:mm' }}</td>
							<td>{{ lucro.coin }}</td>
							<td>+{{ lucro.proft }} {{ lucro.coin }}</td>
							<td>{{ lucro.profitPercentage }}%</td>
							<td>{{ lucro.balance }} {{ lucro.coin }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
