<div class="container-fluid full-height">
	<div class="row">
		<div class="col-3">
			<div class="sidebar">
				<div class="row">
					<div class="col">
						<div class="logo">
							<img src="../assets/logo_atlas_horizontal-white.svg" alt="Logo Atlas" />
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<div class="navs">
							<ul class="nav-menu">
								<li>
									<a href="" class="nav-link">
										<img src="../assets/ic_home.svg" alt="Icon Home" />
										<span class="link-text">Lucros</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-8 contents">
			<div class="top-bar">
				<div class="row">
					<div class="col-3 offset-md-8">
						<div class="user">
							<img src="../assets/ic_person.svg" alt="Icon Person" />
							Manoel Neto
						</div>
					</div>
				</div>
			</div>

			<router-outlet></router-outlet>

			<footer class="footer">
				<div class="row align-items-center">
					<div class="col copy">
						Atlas Quantum @ 2018. All rights reserved
					</div>

					<div class="col">
						<ul class="social-icons">
							<li><a href=""><img src="../assets/ic_facebook.svg" alt=""></a></li>
							<li><a href=""><img src="../assets/ic_twitter.svg" alt=""></a></li>
							<li><a href=""><img src="../assets/ic_instagram.svg" alt=""></a></li>
							<li><a href=""><img src="../assets/ic_youtube.svg" alt=""></a></li>
						</ul>
					</div>
				</div>
			</footer>
		</div>
	</div>
</div>
