<div class="content">
	<nav class="sidebar">
		<div class="logo">
			<img src="../assets/logo_atlas_horizontal-white.svg" alt="Logo Atlas" />
		</div>

		<div class="navs">
			<ul class="nav-menu">
				<li>
					<a href="" class="nav-link">
						<img src="../assets/ic_home.svg" alt="Icon Home" />
						<span class="link-text">Lucros</span>
					</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="contents">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md">
					<div class="top-bar">
						<div class="user">
							<img src="../assets/ic_person.svg" alt="Icon Home" />
							Manoel Neto
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md">
					<h3>Lucros</h3>
					<p>Relatório de distribuição de lucro</p>
				</div>

				<div class="col-md">
					<div class="search">
						<input type="text" placeholder="Digite qualquer coisa da tabela">
						<button class="btn-search">
							<img src="../assets/ic_search_24px.svg" alt="Icon Search" />
						</button>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md">
					<div class="card">
						<div class="card-title">
							Distribuição de lucro (último mês)
						</div>

						<div class="card-body">
							<table>
								<thead>
									<tr>
										<th>Data</th>
										<th>Moeda</th>
										<th>Rendimento</th>
										<th>%</th>
										<th>Saldo</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>08/06/18 16:14</td>
										<td>BTC</td>
										<td>+0.0000010 BTC</td>
										<td>0.05%</td>
										<td>0.25000000 BTC</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<footer class="footer">
				<div class="row">
					<div class="col-md">
						Atlas Quantum @ 2018. All rights reserved
					</div>

					<div class="col-md">
						<ul class="social-icons">
							<li><a href=""><img src="../assets/ic_facebook.svg" alt=""></a></li>
							<li><a href=""><img src="../assets/ic_twitter.svg" alt=""></a></li>
							<li><a href=""><img src="../assets/ic_instagram.svg" alt=""></a></li>
							<li><a href=""><img src="../assets/ic_youtube.svg" alt=""></a></li>
						</ul>
					</div>
				</div>
			</footer>
		</div>
	</div>
</div>
